.App {
  text-align: center;
  color: burgundy;
}

body {
  background-image: url("/guitar-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
}

html, body {
  height: 100%;
  position: relative;
}

ul,li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.leaflet-container {
  height: 400px;
  margin: 0 auto;
    }

.map-header {
  color: #E9DBD2;
}

.btn-primary {
  color: #9d9d9d;
  background-color: #222;
  border-color: #080808;
  margin: 1rem;
}

.btn-primary:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}

.btn-primary:selected {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}

.sub-header {
  font-size: 1.5rem;
}

.componentContainer {
  min-height: calc(100vh - 120px);
  overflow: hidden;
  display: block;
  position: relative;
}

.headerComponent {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #9d9d9d;
  background-color: #222;
  border-color: #222;
  border-radius: 4px;
}

.songButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}

.footerText {
  text-align: center;
  padding: 1rem;
  color: #9d9d9d;
  background-color: #222;
  border-color: #222;
  border-radius: 4px;
}

.addLink {
  display: block;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1em;
  margin: -1em;
}


a:hover {
  color: #000000;
  text-decoration: none;
}

a {
  color: #9d9d9d;
}

a:after {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}
