.App {
  text-align: center;
}

body {
  background-image: url("/guitar-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul,li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

main{
  display: flex;
  flex-direction: row;
}

.songsDiv {
  width: 40%;
}

.formDiv {
  width: 30%;
}

.formDiv form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.updateDiv {
  width: 30%;
}

.updateDiv form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
