.App {
  text-align: center;
  color: burgundy;
}

body {
  background-image: url("/guitar-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
}

main{
  display: flex;
  flex-direction: row;
}

ul,li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.songsDiv {
  width: 35%;
}

.formDiv {
  width: 32.5%;
}

.formDiv form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.updateDiv {

}

.updateDiv form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mapDiv {
  width: 32.5%;
  opacity: 0.9;
}

.leaflet-container {
  height: 400px;
  margin: 0 auto;
    }

.map-header {
  color: #E9DBD2;
}

.btn-primary {
  color: #9d9d9d;
  background-color: #232220;
  border-color: #232220;
  margin: 1rem;
}
